
.container{  
   border: 2px solid gray; 
     border-radius: 5px ; 
       margin: 25px; 
        text-align: center; 
}
.head{ 

    margin: 15px; 
      font-size: 1.7rem; 
      font-weight: bolder; 
       color: red;
}